.col-fixed-left{
    width:60px;
    background:#2A2D32;
    position:fixed;
    height:100%;
    z-index:2;
}



.col-offset-main{
    padding-left:60px;
    z-index:1;
    background: white
}

.col-fixed-chatlist{
    
    width:250px;
    background:#E6E6E7;
    position:fixed;
    height:100%;
    z-index:2;
}


.col-offset-chat{
    padding-left:260px;
    z-index:0;
    background: #F5F5F5
}