.editor-container{   
        padding-right: 10px;
        height: calc(20vh - 80px);     
}


.emoji-span::selection {
       
        color:white;
       
}


    .emoji-span::-moz-selection {
        color:white;
    }
    
    .emoji-span::-webkit-selection {
        color:white;
    }