 .nav-pills-xs>li>a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 3px;
  padding-right: 3px;
}

  .btn2{
  border:0px solid transparent; /* this was 1px earlier */
  padding: 3px;
  color:gray,
}  

